/* Easywyg default content-styles
 *
 * NOTE: Comments in this file MUST BE KEPT after compilation.
 * TLYK: This file will be prosessed with Precss and Autoprefixer automatically.
 */

/* This needs to support grids, embeds and all other easywyg stuff */
@import "content_styles/grids";
@import "content_styles/tables";
@import "content_styles/embeds";
@import "content_styles/figures";
@import "content_styles/headings";

/* Assume that is your website styles below */

body {
  font-family: Arial, sans-serif;
}

/* Styles below will be added into 'styles' dropdown in easywyg editor
 * NOTE: Empty selectors will be removed after compilation. Add ! at the
 * beginning of comment to preserve comment after compilation. That matters.
 */

/*! Name: Параграф
 * Group: Параграфы
 */
p { color: inherit; }

/*! Name: Центрированный параграф
 * Group: Параграфы
 */
p.center { text-align: center; }

/*! Name: Увеличенный текст
 * Group: Параграфы
 */
p.bigger { font-size: 120%; }

/*! Name: Отбивка справа
 * Group: Параграфы
 */
p.right  { text-align: right; }

/*! Name: Заголовок H1
 * Group: Параграфы
 */
h1 { color: inherit }

/*! Name: Заголовок H2
 * Group: Параграфы
 */
h2 { color: inherit; }

/*! Name: Заголовок H3
 * Group: Параграфы
 */
h3 { color: inherit; }

/*! Name: Заголовок H4
 * Group: Параграфы
 */
h4 { color: inherit; }

/*! Name: Заголовок H5
 * Group: Параграфы
 */
h5 { color: inherit; }

/*! Name: Заголовок H6
 * Group: Параграфы
 */
h6 { color: inherit; }

/*! Name: Подзаголовок
 * Group: Параграфы
 */
h3.headline {
  text-align: center;
  margin: 2em 0;
  color: #4b96e1;
  font-weight: normal;
}

/*! Name: Блочная цитата
 * Group: Параграфы
 */
blockquote { color: inherit; }

/*! Name: Аннотация
 * Group: Параграфы
 */
blockquote.annotation {
  margin: 2em 5em;
  font-style: italic;
  padding: 0;
  padding: 15px;
  border-radius: 4px;
}

/*! Name: Преформатированный текст
 * Group: Параграфы
 */
pre { color: inherit; }

/*! Name: Полужирный
 * Group: Форматирование
 */
strong { color: inherit; }

/*! Name: Курсив
 * Group: Форматирование
 */
em { color: inherit; }

/*! Name: Зачеркнутый
 * Group: Форматирование
 */
s { color: inherit; }

/*! Name: Подчеркнутый
 * Group: Форматирование
 */
u { color: inherit; }

/*! Name: Строчная цитата
 * Group: Форматирование
 */
q { color: inherit; }

/*! Name: Код
 * Group: Форматирование
 */
code { color: inherit; }

/*! Name: Адрес
 * Group: Форматирование
 */
address { color: inherit; }

/*! Name: Индекс
 * Group: Форматирование
 */
sub { color: inherit; }

/*! Name: Верхний индекс
 * Group: Форматирование
 */
sup { color: inherit; }

/*! Name: Уменьшенный текст
 * Group: Форматирование
 */
small { color: inherit; }

/*! Name: Переменная или формула
 * Group: Форматирование
 */
var { color: inherit; }

/*! Name: Образец
 * Group: Форматирование
 */
samp { color: inherit; }
