/* Easywyg default content-styles
 *  NOTE: Comments in this file MUST BE KEPT after compilation
 */

/* Variables */
$table-cell-padding: 4px;
$selection-bg-color: #fff7aa;

/* This needs to support grids, embeds and all other easywyg stuff */
@import "partials/grids";
@import "partials/tables";
@import "partials/embeds";
@import "partials/figures";

/* Assume that is your website styles */

body {
  font-family: Arial, sans-serif;
  padding: 1em;
}

/* Styles below will be added into 'styles' dropdown in easywyg editor */

/* Name: Paragraph
 * Group: Paragraphs
 */
p { color: inherit; }

/* Name: Centered Paragraph
 * Group: Paragraphs
 */
p.center { text-align: center; }

/* Name: Bigger Paragraph
 * Group: Paragraphs
 */
p.bigger { font-size: 120%; }

/* Name: Right Aligned Paragraph
 * Group: Paragraphs
 */
p.right  { text-align: right; }

/* Name: Heading H1
 * Group: Paragraphs
 */
h1 { text-align: center; line-height: 1.5em; }

/* Name: Heading H2
 * Group: Paragraphs
 */
h2 { color: inherit; line-height: 1.4em; }

/* Name: Heading H3
 * Group: Paragraphs
 */
h3 { color: inherit; line-height: 1.4em; }

/* Name: Heading H4
 * Group: Paragraphs
 */
h4 { color: inherit; line-height: 1.4em; }

/* Name: Heading H5
 * Group: Paragraphs
 */
h5 { color: inherit; line-height: 1.4em; }

/* Name: Heading H6
 * Group: Paragraphs
 */
h6 { color: inherit; line-height: 1.4em; }

/* Name: Headline
 * Group: Paragraphs
 */
h3.headline {
  text-align: center;
  margin: 2em 0;
  color: #2B679A;
  font-weight: normal;
}

/* Name: Blockquote
 * Group: Paragraphs
 */
blockquote { color: inherit; }

/* Name: Annotation
 * Group: Paragraphs
 */
blockquote.annotation {
  margin: 2em 5em;
  font-style: italic;
  padding: 0;
  background-color: #CBEAFF !important;
  padding: 15px;
  border-radius: 4px;
}

/* Name: Preformatted Text
 * Group: Paragraphs
 */
pre { color: inherit; }

/* Name: Bold
 * Group: Formatting
 */
strong { color: inherit; }

/* Name: Italic
 * Group: Formatting
 */
em { color: inherit; }

/* Name: Strike
 * Group: Formatting
 */
s { color: inherit; }

/* Name: Underline
 * Group: Formatting
 */
u { color: inherit; }

/* Name: Quote
 * Group: Formatting
 */
q { color: inherit; }

/* Name: Code
 * Group: Formatting
 */
code { color: inherit; }

/* Name: Address
 * Group: Formatting
 */
address { color: inherit; }

/* Name: Subscript
 * Group: Formatting
 */
sub { color: inherit; }

/* Name: Superscript
 * Group: Formatting
 */
sup { color: inherit; }

/* Name: Smaller Text
 * Group: Formatting
 */
small { color: inherit; }

/* Name: Variable or Formula
 * Group: Formatting
 */
var { color: inherit; }

/* Name: Sample Text
 * Group: Formatting
 */
samp { color: inherit; }
