// Easywyg default content-styles

// Variables
$table-cell-padding: 4px;
$selection-bg-color: #fff7aa;

@import "partials/grids";
@import "partials/tables";
@import "partials/embeds";
@import "partials/figures";

/* Assume that is your website styles */

::selection { background-color: $selection-bg-color; }

body {
  font-family: Arial, sans-serif;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #0060a0;
  border-bottom: 1px solid rgba(0,96,160,.2);
  white-space: nowrap;

  &:hover, &:focus {
    color: #d04000;
    border-bottom-color: rgba(208,64,0,.2);
  }

  &:visited {
    color: #7090b0;
    border-bottom-color: rgba(112,144,176,.2);
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }

ul, ol { clear: both; }
p { hyphens: auto; }

hr {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0.5em;
  }
}

/* Styles below will be added into 'styles' dropdown in easywyg editor */

/* Name: Paragraph
 * Group: Paragraphs
 */
p { color: inherit; }

/* Name: Centered Paragraph
 * Group: Paragraphs
 */
p.center { text-align: center; }

/* Name: Bigger Paragraph
 * Group: Paragraphs
 */
p.bigger { font-size: 120%; }

/* Name: Right Aligned Paragraph
 * Group: Paragraphs
 */
p.right  { text-align: right; }

/* Name: Heading H1
 * Group: Paragraphs
 */
h1 { text-align: center; line-height: 1.5em; }

/* Name: Heading H2
 * Group: Paragraphs
 */
h2 { color: inherit; line-height: 1.4em; }

/* Name: Heading H3
 * Group: Paragraphs
 */
h3 { color: inherit; line-height: 1.4em; }

/* Name: Heading H4
 * Group: Paragraphs
 */
h4 { color: inherit; line-height: 1.4em; }

/* Name: Heading H5
 * Group: Paragraphs
 */
h5 { color: inherit; line-height: 1.4em; }

/* Name: Heading H6
 * Group: Paragraphs
 */
h6 { color: inherit; line-height: 1.4em; }

/* Name: Headline
 * Group: Paragraphs
 */
h3.headline {
  text-align: center;
  margin: 2em 0;
  color: #2B679A;
  font-weight: normal;
}

/* Name: Blockquote
 * Group: Paragraphs
 */
blockquote { color: inherit; }

/* Name: Annotation
 * Group: Paragraphs
 */
blockquote.annotation {
  margin: 2em 5em;
  font-style: italic;
  padding: 0;
  background-color: #CBEAFF !important;
  padding: 15px;
  border-radius: 4px;
}

/* Name: Preformatted Text
 * Group: Paragraphs
 */
pre { color: inherit; }

/* Name: Bold
 * Group: Formatting
 */
strong { color: inherit; }

/* Name: Italic
 * Group: Formatting
 */
em { color: inherit; }

/* Name: Strike
 * Group: Formatting
 */
s { color: inherit; }

/* Name: Underline
 * Group: Formatting
 */
u { color: inherit; }

/* Name: Quote
 * Group: Formatting
 */
q { color: inherit; }

/* Name: Code
 * Group: Formatting
 */
code { color: inherit; }

/* Name: Address
 * Group: Formatting
 */
address { color: inherit; }

/* Name: Subscript
 * Group: Formatting
 */
sub { color: inherit; }

/* Name: Superscript
 * Group: Formatting
 */
sup { color: inherit; }

/* Name: Smaller Text
 * Group: Formatting
 */
small { color: inherit; }

/* Name: Variable or Formula
 * Group: Formatting
 */
var { color: inherit; }

/* Name: Sample Text
 * Group: Formatting
 */
samp { color: inherit; }


/* Name: 2 columns
 * Group: Newspaper layout
 */
p.two-columns {
  columns: 2;
  column-gap: 30px;
}

/* Name: 3 columns
 * Group: Newspaper layout
 */
p.three-columns {
  columns: 3;
  column-gap: 30px;
}

/* Name: 4 columns
 * Group: Newspaper layout
 */
p.four-columns {
  columns: 4;
  column-gap: 30px;
}

/* Name: 5 columns
 * Group: Newspaper layout
 */
p.five-columns {
  columns: 5;
  column-gap: 30px;
}

/* Name: 6 columns
 * Group: Newspaper layout
 */
p.six-columns {
  columns: 6;
  column-gap: 30px;
}
