//////////////////////////////////////////////////////////////////////////////
// Embed content
.easywyg-embed {
  text-align: center;
  margin: 1em 0;
  clear: both;
  position: relative;

  > * { text-align: left; }

  iframe,
  embed,
  object,
  video {
    width: 100%;
    height: 100%;
    border: 0;
    display: inline-block !important;
  }
}
