//////////////////////////////////////////////////////////////////////////////
// Grid (12-column grid)
[class^=easywyg-col-] {
  position: relative;
  min-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
  float: left !important;

  figure img {
    max-width: 100%;
  }

  p, blockquote, h1, h2, h3, h4, h5, h6, figure, pre, address, ul, ol, table {
    &:first-of-type { margin-top: 0; }
    &:last-of-type { margin-bottom: 0; }
  }
}

.easywyg-col-1  { width: percentage(1 / 12); }
.easywyg-col-2  { width: percentage(2 / 12); }
.easywyg-col-3  { width: percentage(3 / 12); }
.easywyg-col-4  { width: percentage(4 / 12); }
.easywyg-col-5  { width: percentage(5 / 12); }
.easywyg-col-6  { width: percentage(6 / 12); }
.easywyg-col-7  { width: percentage(7 / 12); }
.easywyg-col-8  { width: percentage(8 / 12); }
.easywyg-col-9  { width: percentage(9 / 12); }
.easywyg-col-10 { width: percentage(10 / 12); }
.easywyg-col-11 { width: percentage(11 / 12); }
.easywyg-col-12 { width: percentage(12 / 12); }

.easywyg-grid {
  clear: both;
  display: flex;

  * { box-sizing: border-box; }

  > *:before,
  > *:after {
    box-sizing: border-box;
  }

  // Clearfix
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }

  margin: 1em -1em;
}


