/* Tables */
table {
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  table-layout: fixed;

  /* Bottom align for column headings */
  tr th {
    vertical-align: bottom;
  }

  /* Cells */
  tr {
    th,
    td {
      padding: 4px;
      vertical-align: top;
      border: 1px solid #eee;
    }
  }

  th { text-align: left; }
}
